<div class="text-center">
  <h1 class="pt-4"><%= @user.name %>さんのアカウント編集</h1>
</div>
<div class="container">
<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :age, '年齢', class:'control-label' %>
        <%= f.select :age, [["",""], ["10代","10"], ["20代","20"], ["30代","30"], ["40代","40"], ["50代","50"], ["60代","60"], ["70代以上","70"] ], {}, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :sex, '性別', class:'control-label' %>
        <%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {},   class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :introduce, '自己紹介（255文字未満）' %>
        <%= f.text_area :introduce, :maxlength => "255", :size => "80x5",  class: 'form-control'  %>
      </div>


      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（もう1度入力してください）' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>  
</div>
