<div class="container">
  <div class="row pt-3">
    <aside class="col-sm-4">
      <% if @user.image? %>
        <%= image_tag @user.image.thumb.url %>
      <% else %>
        <%= image_tag "/assets/icon.jpg" %>
      <% end %>
    
    </aside>
  <div class="col-sm-8 ">
    <h3><%= @user.name %></h3>
    <h6>性別：<%= @user.sex %></h6>
    <h6>年齢：<%= @user.age %>代</h6>
    <h6>自己紹介</h6>
        <p><%= @user.introduce %></p>
  </div>
  <div class= "col-sm-2 offset-sm-5">
      <span><%= render 'relationships/follow_button', user: @user %></span>
  </div>
</div>


<div class= "container">
  <div class="row pt-3">
    <div class="col-sm-12">
        <ul class="nav nav-tabs nav-justified mb-4">
          <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">IDEAS <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
          <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
          <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
          <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り<span class="badge badge-secondary"><%= @count_favorites %></span></a></li>
        </ul>
    <%= render 'users', users: @followers %>
    </div>
  </div>
</div>