<div class="text-center">
  <h1 class="pt-4">新規登録</h1>
</div>
<div class="container pb-5">
<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（もう1度入力してください）' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <p>
        <%= f.check_box :agreement, :as => :boolean, checked:false %>
        <small><%= link_to '利用規約', protocol_path %>と<%= link_to 'プライバシポリシー', privacy_path %>に同意する</small>
      </p>

      <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
</div>